body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}
 h1 {
   text-align: center;
  }

 nav {
   text-align: center;   
 }


 nav a {
   padding-left: 10px;
   padding-right: 10px;
   background-color: red;
 }

 
 
 figure {
   text-align: center;
   font-size: small;
   
  
  }
 
   section p{
   text-align: center;
   width
   
    
 }

 
 div h3 {
   float: left;
 }

 div p  {
   float: left;
      
   
 }

 
  

 
 
 